.calculator
{
        width:280px;
        height:280px;
        background-color:#128b20;
        border:2px solid #924403;
        margin:auto;
        padding-left: 10px;
        padding-bottom:7px;
}
.calculator td
{
        height:20%;
}
.calc_td_result
{
        text-align:center;
}
.calc_result
{
        width:85%;
        text-align:right;
}
.calc_td_calculs
{
        text-align:center;
}
.calc_calculs
{
        width:90%;
        text-align:left;
}
.calc_td_btn
{
        width:25%;
        height:90%;
}
.calc_btn
{
        width:80%;
        height:80%;
        font-size:25px;
}

